@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import "tailwindcss";

:root {
  --choco-100: #8C6D62;
  --choco-500: #5A3E36;
  --choco-700: #3E2A24;

  --vanilla: #FFF9F0;
  --beige: #F9E9DB;
  --red: #AE3232;

  --gold-300: #FBE1CF;
  --gold-500: #F9D6BF;
  --gold-600: #EFC3A4;

  --pistachio-500: #A8B692;
}

@theme inline {
  /* Chocolate */
  --color-choco-100: var(--choco-100);
  --color-choco-500: var(--choco-500);
  --color-choco-700: var(--choco-700);

  /* Neutral and accents */
  --color-vanilla: var(--vanilla);
  --color-beige: var(--beige);
  --color-red: var(--red);

  --color-gold-300: var(--gold-300);
  --color-gold-500: var(--gold-500);
  --color-gold-600: var(--gold-600);

  --color-pistachio-500: var(--pistachio-500);

  /* Fonts */
  --font-times: "Times New Roman", Times, serif;
  --font-allura: "Allura", cursive;
  --font-archivo: "Archivo", sans-serif;

  --shadow-button: 0 6px 16px rgba(50, 20, 20, 0.08);
  --shadow-navbar: 0 8px 14px rgba(50, 20, 20, 0.16);
  --shadow-section: 0 8px 24px rgba(50, 20, 20, 0.25);
  --shadow-footer:
    0 -12px 14px rgba(50, 20, 20, 0.30);


  /* Custom variable */
  --navbar-height: 94px;
}

/* -----------------------------
  Base styles
----------------------------- */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/bg-texture.svg");
  background-repeat: repeat;
  z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-times);
}


/* -----------------------------
  Speific styles
----------------------------- */

@utility animated-underline {
  @apply relative;

  &::after {
    @apply content-[''] absolute w-full h-[1px] bottom-[-4px] left-0 bg-current scale-x-0 transition-transform duration-300 ease-out origin-right;
  }

  &:hover::after {
    @apply scale-x-100 origin-left;
  }
}

@utility group-animated-underline {
  @apply relative;

  &::after {
    @apply content-[''] absolute w-full h-[1px] bottom-[-4px] left-0 bg-current scale-x-0 transition-transform duration-300 ease-out origin-right;
  }

  .group:hover &::after {
    @apply scale-x-100 origin-left;
  }
}