@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import "tailwindcss";

:root {
  --choco-100: #8C6D62;
  --choco-500: #5A3E36;
  --choco-700: #3E2A24;

  --vanilla: #FFF9F0;
  --beige: #F9E9DB;
  --red: #AE3232;

  --gold-300: #FBE1CF;
  --gold-500: #F9D6BF;
  --gold-600: #EFC3A4;

  --pistachio-500: #A8B692;
}

@theme inline {
  /* Chocolate */
  --color-choco-100: var(--choco-100);
  --color-choco-500: var(--choco-500);
  --color-choco-700: var(--choco-700);

  /* Neutral and accents */
  --color-vanilla: var(--vanilla);
  --color-beige: var(--beige);
  --color-red: var(--red);

  --color-gold-300: var(--gold-300);
  --color-gold-500: var(--gold-500);
  --color-gold-600: var(--gold-600);

  --color-pistachio-500: var(--pistachio-500);

  /* Fonts */
  --font-times: "Times New Roman", Times, serif;
  --font-allura: "Allura", cursive;
  --font-archivo: "Archivo", sans-serif;

  --shadow-button: 0 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-navbar: 0 4px 4px rgba(0, 0, 0, 0.25);

  /* Custom variable */
  --navbar-height: 94px;
}

/* -----------------------------
  Base styles
----------------------------- */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("/images/bg-texture.svg");
  background-repeat: repeat;
  z-index: -1;
}


/* -----------------------------
  Speific styles
----------------------------- */
